################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/VemDeZap.Domain/bin/Debug
/VemDeZap.Domain/obj/Debug
/VemDeZap.Domain/bin/Release
/VemDeZap.Domain/obj/Release